<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>鲸拓后台-私人房详情</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/iconfont.css">
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/layui/layui.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            color: #000;
        }

        html,
        body {
            height: 100%;
        }
    </style>
</head>

<body>
    <!-- <div class="layui-tab layui-tab-brief" lay-filter="demo" lay-allowClose="true" style="height: 100%; margin: 0;">
        <ul class="layui-tab-title" id="tabTitleList">
            <li class="layui-this">私人房数据</li>
        </ul> -->
    <div class="layui-tab-content" style="height: 100%;">
        <div class="layui-tab-item layui-show">
            <div class="oper-wrap" style="height: 5%;">
                <div class="right">
                    <!-- <i class="layui-icon search" style="font-size: 22px; margin-left: 20px; vertical-align: middle;">&#xe669;</i> -->
                    <!-- <i class="layui-icon search" style="font-size: 26px; margin-left: 20px; vertical-align: middle;" id="ToExcel">&#xe62d;</i> -->
                    <i class="iconfont icon-uploadicon06 search" style="font-size: 26px; margin-left: 20px; vertical-align: middle;" id="ToExcel"></i>
                </div>
            </div>
            <div class="table-wrap" style="height: 93%;">
                <table class="layui-hide" id="table" lay-filter="table"></table>
            </div>
        </div>
    </div>
    <!-- </div> -->

    <script src="../../static/js/datacenter/privateroom2.js"></script>
</body>

</html>